*
  font-family: 'Roboto', sans-serif
a
  text-decoration: none
.header
    font-weight: 400
    font-size: 16px
    color: #fff
    height: 50px
    background-color: #1B274A
    &_item
        margin-top: 16px
    &_icon
        margin: 0 8px 1px 0
    a
        color: #fff
    .header_orange
        color: #FFA14D
    &_dashed
        border-bottom: 2px dashed #FFA14D
    &_divider
        padding-right: 8px
        margin-right: 8px
        border-right: 1px solid #fff
.subheader
    min-height: 100px
    padding: 21px 0
    &_wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &_logo
        line-height: 21px
        display: flex
        justify-content: start
        align-items: center
        font-size: 28px
        font-weight: 500
        color: #1B274A
        span
            font-size: 10px
    &_icon
        margin-right: 11px
    &_nav
        font-weight: 500
        font-size: 18px
        img
            margin-left: 8px
        a
            color: #1B274A
            margin-right: 40px
            &:nth-child(4)
                color: #FF7800
                margin-right: 42px
        
