*
  font-family: 'Roboto', sans-serif
a
  text-decoration: none
.container
    width: 1170px
.divider
    margin-top: 64px
    width: inherit
    height: 1px
    background: #FFA14D
.divider_blue
    width: 1170px
    height: 1px
    background: #3897F0
    margin-bottom: 32px
.active_item
    display: flex
    justify-content: space-between
    align-items: center
.header
    font-weight: 400
    font-size: 16px
    color: #fff
    height: 50px
    background-color: #1B274A
    &_item
        margin-top: 16px
    &_icon
        margin: 0 8px 1px 0
    a
        color: #fff
    .header_orange
        color: #FFA14D
    &_dashed
        border-bottom: 2px dashed #FFA14D
    &_divider
        padding-right: 8px
        margin-right: 8px
        border-right: 1px solid #fff
.subheader
    min-height: 100px
    padding: 21px 0
    &_wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &_logo
        line-height: 21px
        display: flex
        justify-content: start
        align-items: center
        font-size: 28px
        font-weight: 500
        color: #1B274A
        span
            font-size: 10px
    &_icon
        margin-right: 11px
    &_nav
        font-weight: 500
        font-size: 18px
        img
            margin-left: 8px
        a
            color: #1B274A
            margin-right: 40px
            &:nth-child(4)
                color: #FF7800
                margin-right: 42px
.breadcrumps
    min-height: 136px
    padding: 47px 0 64px
    font-weight: 400
    font-size: 14px
    &_nav
        color: rgba(255, 161, 77, 0.64)
        &:nth-child(3)
            color: #FF7800
    &_home
        margin: 0 8px 11px 0
    &_arrow
        margin: 0 14px 2px 8px  
.work
    min-height: 881px
    padding: 25px 0 96px 
    .container
        position: relative
    &_tittle
        font-weight: 500
        font-size: 46px
        color: #1B274A
        line-height: 46px
    &_subtittle
        margin-top: 48px
        font-weight: 500
        font-size: 22px
        line-height: 33px
        color: #1B274A
    &_list
        width: 544px
        margin-bottom: 0
        li
            margin-top: 32px
            list-style-type: none
            font-weight: 300
            font-size: 22px
            line-height: 33px
            color: #1B274A
            &::before
                content: ''
                display: inline-block
                height: 10px
                width: 10px
                vertical-align: middle
                border-radius: 50%
                background-color: #FF7800
                margin-right: 8px
            span
                font-weight: 400
    &_descr
        width: 568px
        margin-top: 48px
        font-weight: 400
        font-size: 22px
        line-height: 33px
        color: #1B274A
    &_bg
        position: absolute
        top: 80px
        right: -52px
    &_paw
        position: absolute
        top: 50px
        right: 412px
    &_plus
        position: absolute
        top: 380px
        right: -119px
.vacancies
    min-height: 1910px
    padding: 26px 0 95px
    &_header
        margin-bottom: 48px
        font-weight: 500
        font-size: 46px
        color: #1B274A
    &_card
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 50px 0 62px 
        height: 89px
    &_descr
        font-weight: 400
        font-size: 32px
        color: #3897F0
    &_more
        font-weight: 400
        font-size: 14px
        color: #3897F0
    &_arrow
        margin-left: 18px
    &_active
        padding: 32px 50px 0 70px
    &_subheader
        font-weight: 400
        font-size: 32px
        color: #FF7800
    &_title
        margin-top: 43px 
        font-weight: 500
        font-size: 32px
        color: #1B274A
    &_btn
        margin-top: 48px
.expectations_list
    margin: 32px 0 0
    li
        margin-top: 18px
        list-style-type: none
        font-weight: 400
        font-size: 22px
        line-height: 33px
        color: #1B274A
        &::before
            content: ''
            display: inline-block
            height: 10px
            width: 10px
            vertical-align: middle
            border-radius: 50%
            background-color: #FF7800
            margin-right: 18px
.expectations_descr
    margin-top: 40px
    font-weight: 400
    font-size: 22px
    line-height: 33px
    color: #1B274A
.targets_list
    margin: 32px 0 0 30px
    font-weight: 400
    font-size: 22px
    line-height: 33px
    color: #FF7800
    li
        margin-top: 18px
    span
        color: #1B274A











        
